<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MPT Bootcamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <style>
            body {
                background: url("images/missionpeak.jpg") no-repeat center center fixed;
                background-size: cover;
                height: 100%;
                overflow: hidden;
            } 
        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg static-top">
                <div class="container">
                    <a class="navbar-brand" href="#">&nbsp;</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <!--
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">About
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </nav>            
        </header>

        <main class="main">  
            <div class="container">
                <div class="card text-white bg-info mb-3" style="max-width: 25rem;">
                    <div class="card-header">Host Information</div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Hostname: {{ ansible_hostname }}</li>
                            <li>IP Address: {{ ansible_default_ipv4.address }}</li>
                            <li>MAC Address: {{ ansible_default_ipv4.macaddress }}</li>
                            <li>Operating System: {{ ansible_distribution }} {{ ansible_distribution_release }} {{ ansible_distribution_version }}</li>
                            <li>Memory: {{ ansible_memtotal_mb }}</li>
                            <li>Core: {{ ansible_processor_vcpus }}</li>
                            <li>Python Version: {{ ansible_python_version }}</li>
                        </ul>                        
                   </div>
                </div>  
            </div>
        </main>

        <footer>
            <div class="container fixed-bottom">
                <p class="text-center">© 2019 Mission Peak Technologies</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>    
    </body>
</html>