  - job_name: "assets-manager-{{ target_host }}"
    scrape_interval: 5s
    scheme: http
    metrics_path: "/monitor/prometheus"

    static_configs:
    - targets: "[{{ target_host }}:{{ target_port }}]"